.timeline {
  border-left: 3px solid #00BCD4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  border: 3px solid #00BCD4;
}
.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #00BCD4;
  z-index: 10;
}
.timeline .job-meta .title {
  font-size: 18px;
  color: #00BCD4;
}
.timeline .job-meta {
  position: absolute;
  left: -280px;
  top: 0;
}
.timeline .work-place {
  position: relative;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .location {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a;
}
.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

  .timeline {
    margin-left: 0;
    padding-right: 0;
  }
  .timeline .place {
    margin-bottom: 5px;
  }
  .timeline .job-meta {
    position: static;
    margin-bottom: 15px;
  }
}